<h1>Privacy Policy</h1>
La presente Informativa sulla Privacy (di seguito “Privacy Policy”) ha l’intento di descrivere le modalità di gestione del sito web e dell’applicazione allmarket (di seguito “Applicazione”) in merito al trattamento dei dati personali degli utenti che fruiscono dei servizi proposti.

Si tratta di un’informativa che è resa ai sensi dell’art. 13 del Codice Privacy in materia di protezione dei dati personali di cui al D.Lgs. 196/2003 (di seguito “Codice Privacy”), del Provvedimento emanato dall’Autorità Garante “Individuazione delle modalità semplificate per l’informativa e l’acquisizione del consenso per l’uso dei cookie” dell’8 maggio 2014 e della Raccomandazione n. 2/2001 che le autorità europee per la protezione dei dati personali, riunite nel Gruppo istituito dall’art. 29 della direttiva n. 95/46/CE, hanno adottato il 17 maggio 2001.

Il Titolare potrà modificare o semplicemente aggiornare, in tutto o in parte, la presente Privacy Policy. Le modifiche e gli aggiornamenti saranno vincolanti non appena pubblicati sull’Applicazione. L‘Utente è pertanto invitato a visionare le Privacy Policy ad ogni accesso all’Applicazione.
<h2>1. Principi</h2>
I dati personali sono trattati secondo i principi di pertinenza, liceità e correttezza come previsto dal Codice Privacy, attraverso l’utilizzo di misure di sicurezza idonee e a seguito del conferimento del consenso da parte degli utenti ove previsto. Tali dati sono conservati in una forma che consenta l‘identificazione dell‘interessato per un periodo di tempo non superiore a quello necessario agli scopi per i quali essi sono stati raccolti o successivamente trattati.
<h2>2. Titolare e luogo di trattamento dei dati</h2>
Ai sensi dell’art. 28 del Codice Privacy, titolare dell’Applicazione e del trattamento dei dati è Entity Holding Italia SRLS, con sede legale in Via Isole Figi, 20/22 - 00121 Roma (RM), partita IVA 13723482001, REA RM - 1468007, capitale sociale 2.900,00 €, indirizzo e-mail info@ehitalia.it, indirizzo PEC entityholdingitalia@legalmail.it, (di seguito il “Titolare”).

I dati sono trattati presso le sedi operative del Titolare ed in ogni altro luogo in cui le parti coinvolte nel trattamento siano localizzate e sono curati solo da personale incaricato del trattamento, oppure da eventuali incaricati di occasionali operazioni di manutenzione. Per ulteriori informazioni, contatta il Titolare.
<h2>3. Finalità</h2>
Salvo che la comunicazione dei dati personali sia imposta da obblighi di legge o sia strettamente pertinente e necessaria per l’adempimento delle richieste o degli obblighi contrattuali per l’esecuzione del servizio, i dati personali sono forniti volontariamente e facoltativamente dagli utenti al momento dell’attivazione del servizio, per le seguenti finalità:
<ol>
 	<li>Monitoraggio tecnico dell’infrastruttura per manutenzione, risoluzione dei problemi e miglioramento prestazioni;</li>
 	<li>Profilazione di caratteristiche, comportamenti, scelte dell’utente per fornire servizi o promozioni personalizzati;</li>
 	<li>Statistica solo con dati anonimi.</li>
</ol>
<h2>4. Tipologie di dati personali trattati</h2>
<ol>
 	<li><strong>Dati personali</strong>
I dati personali possono essere inseriti volontariamente dall’Utente oppure raccolti in modo automatico durante l‘uso di questa Applicazione. Il mancato conferimento da parte dell’utente di alcuni dati personali potrebbe impedire a questa Applicazione di erogare i propri servizi. L‘utente si assume la responsabilità dei dati personali di terzi pubblicati o condivisi mediante questa Applicazione e garantisce di avere il diritto di comunicarli o diffonderli, liberando il Titolare da qualsiasi responsabilità verso terzi.</li>
 	<li><strong>Dati di navigazione</strong>
I sistemi informatici e le procedure software preposte al funzionamento di questa Applicazione acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di internet. Si tratta di informazioni che non sono raccolte per essere associate a soggetti interessati identificati, ma che per la loro stessa natura, potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti. In questa categoria rientrano gli indirizzi IP, o i nomi di dominio utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto, etc. Questi dati vengono utilizzati al fine di ricavare informazioni statistiche anonime e aggregate sull’uso dell’Applicazione e per controllarne il corretto funzionamento, e risiedono in maniera permanente su server di terzi (hosting provider). I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni dell’Applicazione.</li>
 	<li><strong>Cookie</strong>
L’Applicazione utilizza cookie che l’Autorità Garante definisce come stringhe di testo di piccole dimensioni che i siti visitati dall’utente inviano al suo terminale (solitamente al browser), dove vengono memorizzati per essere poi ritrasmessi agli stessi siti alla successiva visita del medesimo utente. Nel corso della navigazione sull’Applicazione, l’utente può ricevere sul suo terminale anche cookie che vengono inviati da siti o da web server diversi (chiamati “terze parti”), sui quali possono risiedere alcuni elementi (immagini, mappe, link, etc.) presenti sul sito che l’utente sta visitando. I cookie sono usati per accedere più rapidamente ai servizi online e per migliorare l’esperienza di navigazione dell’utente (monitoraggio di sessioni, memorizzazione di informazioni degli utenti, caricamento più rapido dei contenuti, etc.). L’utente al primo accesso ha la possibilità di confermare l’installazione o meno dei cookie disponibili, o in alternativa, di visualizzare la Cookie Policy http://allmarket.eu/content/15-cookie-policy, contenente tutte le modalità di manifestazione e negazione del consenso.</li>
</ol>
<h2>5. Link ai siti di terze parti</h2>
Il Titolare potrebbe presentare o offrire sulla propria Applicazione prodotti o servizi di terze parti. Per quanto riguarda la privacy, i siti di detti soggetti adottano dei criteri diversi e indipendenti dai nostri. Pertanto, il Titolare declina ogni responsabilità per quanto concerne il contenuto o le attività di detti siti collegati.
<h2>6. Consenso al trasferimento internazionale dei dati</h2>
Con l‘utilizzo dell’Applicazione e/o con la comunicazione delle proprie informazioni al Titolare, l‘utente acconsente alla raccolta, al trasferimento, alla memorizzazione e all’elaborazione di tali informazioni in Paesi appartenenti all’Unione europea. Si avverte che le legislazioni dei Paesi aderenti all‘Unione europea (adottate in attuazione della direttiva comunitaria 95/46/CE) sono considerate equivalenti in relazione all‘adeguata tutela in materia di protezione dei dati personali. Il trasferimento attraverso o verso questi Paesi non è quindi soggetto a particolari restrizioni (art. 42 del Codice Privacy).
<h2>7. Modalità di trattamento</h2>
Il trattamento dei dati potrà consistere, oltre che nella loro raccolta, anche nella loro registrazione, conservazione, modificazione, comunicazione, cancellazione, diffusione, etc. e sarà effettuato sia con l’utilizzo di supporto cartaceo, sia con l’ausilio di strumenti elettronici informatici e telematici o comunque innovativi, secondo modalità e con strumenti idonei a garantire la sicurezza e la riservatezza dei dati stessi, in conformità di quanto previsto dagli articoli 31 e seguenti del Codice Privacy, relativi alle “misure minime di sicurezza per il trattamento dei dati personali” volte ad assicurare un livello minimo di protezione dei dati personali. In particolare, saranno adottate tutte le misure tecniche, informatiche, organizzative, logistiche e procedurali di sicurezza, come previste dal Codice Privacy, dall’”Allegato B” allo stesso decreto (così detto Disciplinare Tecnico), dai vari Provvedimenti emanati successivamente ad integrazione, in modo che sia garantito almeno il livello minimo di protezione dei dati previsto dalla legge. Inoltre, le metodologie applicate garantiscono che l’accesso ai dati sia consentito alle sole persone incaricate del trattamento da parte nostra.
<h2>8. Diritti degli interessati</h2>
Gli utenti hanno il diritto di contattarci per qualsiasi informazione sui propri dati personali, di ottenere la conferma dell’esistenza o meno dei medesimi dati e di conoscerne il contenuto e l’origine, verificarne l’esattezza o chiederne l’integrazione o l’aggiornamento, oppure la rettificazione, la cancellazione, la trasformazione in forma anonima o il blocco in violazione di legge, nonché di opporsi in ogni caso, per motivi legittimi, al loro trattamento.
<ol style="list-style-type: lower-alpha;">
 	<li>Le richieste potranno essere trasmesse con le seguenti modalità:</li>
 	<li>E-mail che dovrà essere inviata all’indirizzo support@ehitalia.it;</li>
 	<li>Raccomandata che dovrà essere spedita all’indirizzo Entity Holding Italia SRLS Via Isole Figi, 20/22 - 00121 Roma (RM).</li>
</ol>
<h2>9. Definizioni</h2>
<strong>Applicazione</strong>: sito, app, strumento hardware o software mediante il quale sono raccolti i dati personali degli utenti.

<strong>Dati personali</strong>: qualunque informazione relativa a persona fisica, identificata o identificabile, anche indirettamente, mediante riferimento a qualsiasi altra informazione, ivi compreso un numero di identificazione personale.

<strong>Utente</strong>: l’individuo che utilizza questa Applicazione, che deve coincidere con l‘Interessato o essere da questo autorizzato ed i cui dati personali sono oggetto del trattamento.

<strong>Responsabile del trattamento</strong>: persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo preposto dal Titolare al trattamento dei dati personali, secondo quanto predisposto dalla presente privacy policy.

<strong>Titolare del trattamento</strong>: persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo cui competono, anche unitamente ad altro titolare, le decisioni in ordine alle finalità, alle modalità del trattamento di dati personali ed agli strumenti utilizzati, ivi compreso il profilo della sicurezza, in relazione al funzionamento e alla fruizione di questa Applicazione. Il Titolare del trattamento, salvo quanto diversamente specificato, è il proprietario di questa Applicazione.

<strong>Titolare dei dati personali</strong>: secondo la legge italiana, indica qualunque operazione o complesso di operazioni, effettuati anche senza l‘ausilio di strumenti elettronici, concernenti la raccolta, la registrazione, l’organizzazione, la conservazione, la consultazione, l‘elaborazione, la modificazione, la selezione, l‘estrazione, il raffronto, l‘utilizzo, l‘interconnessione, il blocco, la comunicazione, la diffusione, la cancellazione e la distruzione di dati, anche se non registrati in una banca di dati.